body{
    background: black;
    color: orangered;   
    font-family: roboto;
    font-size: x-large;
    text-align: center
}

img{
    width: 680px;
}

img:hover {
    transform: scaleX(-1);
  }